[diff]
   color = auto
   renames = copy

[pager]
   color = true

[status]
    color = auto

[user]
    name = "Lee Green"
    email = "lee.x.green@gmail.com"

[alias]
	ci = commit
	co = checkout
	st = status
	stat = status
	praise = blame
	sb = show-branch
	what = whatchanged
	br = branch -a --color
	l = log --graph --pretty=format:'%C(green)%h%C(red)%d%Creset %s %C(cyan) %an, %ar%Creset'

[push]
	default = simple
